*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
section {
  width: 100%;
  height: 100vh;
  transition: opacity 2s;
  padding: 5%;

  body.clicked & {
    opacity: 0.6;
  }

  &#home {
    background-color: #2410d6;
  }
  &#products {
    background-color: #4caf50;
  }
  &#services {
    background-color: #ff9800;
  }
  &#contact {
    background-color: #df1111;
  }
}
div#open {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 40px;
  z-index: 9999;
  background-color: black;
  border-radius: 50%;

  svg {
    rect {
      fill: white;
      transform-box: fill-box;

      &.a {
        transform: translate(10px, 12px);
        body.clicked & {
          transform: translate(13px, 12px) rotate(0.125turn);
        }
      }
      &.b {
        transform: translate(10px, 19px);
        body.clicked & {
          opacity: 0;
        }
      }
      &.c {
        transform: translate(10px, 26px);
        body.clicked & {
          transform: translate(12px, 26px) rotate(-0.125turn);
        }
      }
    }
  }
}

nav#nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  z-index: 9998;
  background-color: #999999;
  color: white;
  transition: right 400ms;

  body.clicked & {
    right: 0;
  }

  ul {
    li {
      list-style: none;
      padding: 20px 0;
    }
  }
}

.h1 {
  font-size: 6em;
  color: rgb(99, 184, 233);
  max-width: 500px;
}

body {
  font-size: 2vmin;
  background-color: #df1111;
}

.btn-lg {
  border-radius: 40px;
  width: 15%;
  height: 10%;
  font-weight: 300;
  font-size: 1em;
}
@media screen and (max-width: 1000px) {
  .h1 {
    font-size: 3em;
    color: rgb(99, 184, 233);
    max-width: 300px;
  }
}

@media screen and (max-width: 770px) {
  .h1 {
    font-size: 2em;
    color: rgb(99, 184, 233);
    max-width: 200px;
  }
  p {
    font-size: 1.8vmin;
  }
}

@media screen and (max-width: 500px) {
  .h1 {
    font-size: 2em;
    color: rgb(99, 184, 233);
    max-width: 130px;
  }
}
